.guess-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;

    .guess-cell{
        display: flex;
        border: 2px solid white;
        width: 3em;
        height: 3em;
        margin-right: 1em;
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        &:last-child{
            margin-right: unset;
        }

        &.correct{
            background-color: #088008;
        }

        &.included{
            background-color: #9e9e1a;
        }

        &.wrong{
            background-color: #a72e2e;
        }
    }
}
