.keyboard{
    display: flex;
    flex-direction: column;
    margin: 2em auto;

    .q-row, .a-row, .z-row{
        display: flex;
        flex-direction: row;

        .letter-key{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 1px solid white;
            border-radius: 8px;
            width: 2em;
            height: 2em;
            text-transform: capitalize;
            margin: 0.25em;
            background-color: #7d7d7d;

            &.correct{
                background-color: #088008;
            }

            &.included{
                background-color: #9e9e1a;
            }

            &.wrong{
                background-color: unset;
            }
        }
    }

    .a-row{
        margin-left: 1.25em;
    }

    .z-row{
        margin-left: 3.75em;
    }
}