#wordy{
    display: flex;
    flex-direction: column;
    text-align: center;

    .success-message{

    }

    .failure-message{
        h3{
            text-transform: uppercase;
        }
    }
}